.errBox {
    margin: 3rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.message {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.errInfo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: red;
}