@mixin activeNavLink {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;
}

.ul {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    border-radius: 25px;
    margin-top: 50px;
    list-style: none;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    border: 1px solid #fff;

    .navlink {
        display: block;
        position: relative;
        margin: 0 1rem;
        padding: 1.2rem 1.6rem;
        white-space: nowrap;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.4rem;
        cursor: pointer;

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            transition: .2s;
            border-radius: 25px;
        }

        &:hover {
            color: #000;

            &::before {
                @include activeNavLink;
            }
        }
    }

    .active {
        @include activeNavLink;
        transform: scale(1);
        color: #000;
        border-radius: 2.5rem;
    }
}

@media (min-width: 560px) {
    
}