.footer {
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000cc;
    margin-top: 10rem;
    font-size: 1.6rem;
    letter-spacing: 2px;
    width: 100%;
    height: 40px;
    text-align: center;
}

.text {}